@{
    ViewBag.Title = "About";
}

<section class="inner-bg over-layer-black" style="background-image: url('../HospitalDemoSimple/img/bg/4.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="mini-title inner-style-2">
                    <h3>About Us</h3>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="about animatedParent animateOnce">
    <div class="container">
        <div class="section-title">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="text-center">
                        <h2>Welcome To <span class="color-defult">Sai Baba Hospital</span></h2>
                        <div class="line-border-center bg-defult"></div>
                        <p style="text-align:justify">
                            Sai Baba Nursing Home was started in the year 2003. It has now become a leading private Hospital of Chhattisgarh.
                            Sai Baba Nursing Home is providing the complete care for the Women. Giving standard treatment as well as advanced medical and
                            surgical treatment and high-tech equipment with back-up round the clock Doctors, qualified work force and proficient consultants.
                            We believe in providing best care in most affordable price.
                            <br /><br />
                            We are providing the complete care before, during and after pregnancy and also dealing with high risk pregnancies such as Diabetes mellitus,
                            Hypertension, Heart Disease, recurrent pregnancy loss, Intrauterine growth retardation etc. through the pregnancy and labour.
                            We are using labour analgesia, NST and Partogram for each and every patient. Our hospital also facilitates painless labour.
                            <br /><br />
                            We provide specialist medical as well as surgical management of all types of gynaecological problem i.e menstrual abnormalities , Prolapse,
                            fibroid and other tumors of uterus and ovary, pelvic inflammatory disease , tubal recanalisation by micro surgery.
                            <br /><br />
                            Ectopic prenancy, Ovarian cyst and tomies can be performed laproscopically with the least pain to your early return to your daily activities.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="about-feature">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="appointment-item style-gray animated fadeInLeftShort slow delay-250">
                            <i class="flaticon-ribbon"></i>
                            <h5><a href="#">Our Doctors</a></h5>
                            <div class="line-border-center bg-gray"></div>
                            <p>Choose by name, specialty, city and more.</p>
                            <button class="btn btn-theme btn-sm">Book Now</button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="appointment-item style-gray animated fadeInLeftShort slow delay-500">
                            <i class="flaticon-cardiogram"></i>
                            <h5><a href="#">Health Check</a></h5>
                            <div class="line-border-center bg-gray"></div>
                            <p>Find maps and more for all locations.</p>
                            <button class="btn btn-theme btn-sm">Check Now</button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 center-block">
                        <div class="appointment-item style-gray animated fadeInLeftShort slow delay-750">
                            <i class="flaticon-first-aid-kit"></i>
                            <h5><a href="#">Appointments</a></h5>
                            <div class="line-border-center bg-gray"></div>
                            <p>Click in, walk in or call us today.</p>
                            <button class="btn btn-theme btn-sm">Book Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
