
@{
    ViewBag.Title = "ComingSoon";
    Layout = null;
    <title> Sai Baba Hospital, Raipur</title>
}
<link rel="shortcut icon" type="image/x-icon" href="~/HospitalDemoEye/logoEYEfavicon.png">
<link href="~/HospitalDemoSimple/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/HospitalDemoSimple/css/style.css" rel="stylesheet" />
<link href="~/HospitalDemoSimple/css/responsive.css" rel="stylesheet" />

<section class="over-layer-black error" style="background-image: url('../HospitalDemoSimple/img/bg/1.jpg')">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="content text-center">
                        <h2 class="color-white" style="font-size:125px;">Coming<span>Soon</span></h2>
                        <p class="color-white">Sorry, the page you were looking is under process!</p>
                        <a href="@Url.Action("Homemain","Home")" class="btn btn-theme btn-contact hvr-grow-shadow"> Go to Main pages</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<a href="#" class="scrollup"><i class="pe-7s-up-arrow" aria-hidden="true"></i></a>
<script src="~/HospitalDemoSimple/js/jquery.min.js"></script>
<script src="~/HospitalDemoSimple/js/bootstrap.min.js"></script>
<script src="~/HospitalDemoSimple/js/bootstrap-datepicker.min.js"></script>
<script src="~/HospitalDemoSimple/js/css3-animate-it.js"></script>
<script src="~/HospitalDemoSimple/js/bootstrap-dropdownhover.min.js"></script>
<script src="~/HospitalDemoSimple/js/owl.carousel.min.js"></script>
<script src="~/HospitalDemoSimple/js/gallery.js"></script>
<script src="~/HospitalDemoSimple/js/player.min.js"></script>
<script src="~/HospitalDemoSimple/js/retina.js"></script>
<script src="~/HospitalDemoSimple/js/comming-soon.js"></script>
<script src="~/HospitalDemoSimple/js/script.js"></script>
