@{
    ViewBag.Title = "AboutUsRaipur";
    Layout = "~/Views/Shared/_LayoutEye.cshtml";
}

<div class="title-section module" style="background-image: url(../HospitalDemoEye/eyeaboutusbanner.jpg);height:300px;">
    <div class="row">
    <br /><br /><br />
        <div class="small-12 columns">
            <h1>About Us</h1>
        </div><!-- Top Row /-->

    </div><!-- Row /-->
</div>


<!-- Welcome Message -->
<div class="welcome-message about-us module">
    <div class="row">

        <div class="medium-6 small-12 columns">
            <img src="~/HospitalDemoEye/images/help/nursinghome.jpg" style="height:300px;" alt="Best Optometrist" />
        </div><!-- Thumbnail /-->

        <div class="medium-6 small-12 columns">
            <h2>About <span>Sai Baba Eye Hospital</span></h2>
            <h3>Best Optometrist in town are ready to help you!</h3>
            <p style="text-align:justify">
                Sai Baba Eye Hospital is a Super Specialty Eye Hospital located at Fafadih, Raipur.
                Established on November 2002 by Dr. Ashish Mahobia with in a single room. In a short span of 10 years we are proud to be one of the leading eye care hospitals
                in the state Chhattisgarh with 8 examination chambers, 2 operation theaters and a library. We also have all latest eye care machines and facilities.
                Majority of the advanced services offered by apex eye hospitals (like Shankar Nethralaya) is available at our hospital.

                <br />
                We are happy to inform that our hospital serves 30,000 patients yearly and performs approximately 1,500 major and 2000 minor surgeries every year.
                Out of these surgeries a significant number are super specialty eye surgeries which are referred to our hospital by other ophthalmologists like retinal
                detachment surgery and diabetic laser treatment. Presently we are working with four qualified Ophthalmologists with different sub specialty training.

            </p>
            <div class="awards">
                <img src="~/HospitalDemoEye/images/help/award1.png" alt="Medical award" />
                <img src="~/HospitalDemoEye/images/help/award2.png" alt="Medical Award" />
                <blockquote>
                    <strong>Dr. Ashish Mahobia</strong> <br>
                    (Retina specialist)
                    M.S. (KEM Mumbai),
                    F.N.B. Retina (Delhi),
                    Laser And Retina Specialist
                </blockquote>
            </div><!-- awards /-->

        </div><!-- Detail /-->

    </div><!-- Row /-->
</div>
<!-- Welcome Message Ends /-->
<!-- Content Area -->
<div class="content-area module">
    <div class="row">

        <div class="medium-3 small-12 columns">
            <div class="icon-box">
                <div class="icon-side float-left">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </div>
                <div class="info-side float-left">
                    <p>
                        <strong>Is Lasik Secure?</strong><br>
                        From Last 30 years we are in industy and have honor. <br>
                        123-123-1234
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div><!-- icon-box ends -->

        <div class="medium-3 small-12 columns">
            <div class="icon-box">
                <div class="icon-side float-left">
                    <i class="fa fa-stethoscope" aria-hidden="true"></i>
                </div>
                <div class="info-side float-left">
                    <p>
                        <strong>Advanced Technology</strong><br>
                        We are providing special visual teaching techniques to help you grow faster.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div><!-- icon-box ends -->

        <div class="medium-3 small-12 columns">
            <div class="icon-box">
                <div class="icon-side float-left">
                    <i class="fa fa-user-md" aria-hidden="true"></i>
                </div>
                <div class="info-side float-left">
                    <p>
                        <strong>Cooperative Staff</strong><br>
                        Our Qualified best teachers from industry give you best professional Knowledge.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div><!-- icon-box ends -->

        <div class="medium-3 small-12 columns">
            <div class="icon-box">
                <div class="icon-side float-left">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="info-side float-left">
                    <p>
                        <strong>Get Appointment</strong><br>
                        Rush before all seats are reserved for current batch. <br>
                        123-123-1234
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div><!-- icon-box ends -->

    </div>
</div>
<!-- Content Area Ends -->
<!-- Our Team -->
<div class="our-team module">
    <div class="section-title-wrapper row">
        <div class="section-title">
            <h2>Meet Our <span>Doctors</span></h2>
            <p>We have best professional Team to Care your Eyes</p>
        </div>
    </div><!-- Section Title Ends /-->

    <div class="row">

        <div class="teams-wrapper side-controls">

            <div class="doctor-column">
                <div class="doctor">
                    <div class="doctor-thumb">
                        <a href="#">
                            <img src="~/HospitalDemoEye/images/Doctors/drAshish.jpg" alt="Doctor Doe" />
                        </a>
                        <a href="#" class="button secondary">
                            Visit Profile
                        </a>
                    </div><!-- Doctor thumb /-->
                    <div class="doctor-meta">
                        <h4>Senior Doctor</h4>
                        <h3><a href="#">Dr. Ashish Mahobia</a></h3>
                        <p>
                            (Retina specialist) <br />
                            M.S. (KEM Mumbai), <br />
                            F.N.B. Retina (Delhi), <br />
                            <b style="color:red">Laser And Retina Specialist</b>

                        </p>
                        <div class="doctor-links">
                            <ul class="menu">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div><!-- Doctor links /-->
                    </div><!-- Doctor meta /-->
                </div><!-- Doctor Ends /-->
            </div><!-- Docot Column Ends /-->

            <div class="doctor-column">
                <div class="doctor">
                    <div class="doctor-thumb">
                        <a href="#">
                            <img src="~/HospitalDemoEye/images/Doctors/drSonalVyas.jpg" alt="Doctor Doe" />
                        </a>
                        <a href="#" class="button secondary">
                            Visit Profile
                        </a>
                    </div><!-- Doctor thumb /-->
                    <div class="doctor-meta">
                        <h4>Senior Doctor</h4>
                        <h3><a href="#">Dr. Sonal Vyas</a></h3>
                        <p>
                            M.S., SRTF (SN, Chennai) <br />
                            Ex Senior Registrar, Medical College Hospital Raipur (C.G.) <br />
                            <b style="color:red">  Ex Consultant RKMS Hospital, Haridwar (U.K.)</b>

                        </p>
                        <div class="doctor-links">
                            <ul class="menu">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div><!-- Doctor links /-->
                    </div><!-- Doctor meta /-->
                </div><!-- Doctor Ends /-->
            </div><!-- Docot Column Ends /-->

            <div class="doctor-column">
                <div class="doctor">
                    <div class="doctor-thumb">
                        <a href="single-doctor.html">
                            <img src="~/HospitalDemoEye/images/Doctors/drSangeetaBawankure.jpg" alt=" doctor doe" />
                        </a>
                        <a href="single-doctor.html" class="button secondary">
                            Visit Profile
                        </a>
                    </div><!-- Doctor thumb /-->
                    <div class="doctor-meta">
                        <h4>Senior Doctor</h4>
                        <h3><a href="#">Dr. Sangeeta Bawankure</a></h3>
                        <p>
                            M.S Opthalmology Ayush And Health <br />
                            Science University Of Chhattisgarh.
                        </p>
                        <div class="doctor-links">
                            <ul class="menu">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div><!-- Doctor links /-->
                    </div><!-- Doctor meta /-->
                </div><!-- Doctor Ends /-->
            </div><!-- Docot Column Ends /-->

            <div class="doctor-column">
                <div class="doctor">
                    <div class="doctor-thumb">
                        <a href="#">
                            <img src="~/HospitalDemoEye/images/Doctors/drShamaliKohade.jpg" alt=" doctor doe" />
                        </a>
                        <a href="#" class="button secondary">
                            Visit Profile
                        </a>
                    </div><!-- Doctor thumb /-->
                    <div class="doctor-meta">
                        <h4>Senior Doctor</h4>
                        <h3><a href="#">Dr. Shamali Kohade</a></h3>
                        <p>
                            MBBS (GRMC Gwalior) , MS (RIO Bhopal) <br />
                            Exp - 6 years
                        </p>
                        <div class="doctor-links">
                            <ul class="menu">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div><!-- Doctor links /-->
                    </div><!-- Doctor meta /-->
                </div><!-- Doctor Ends /-->
            </div><!-- Docot Column Ends /-->


        </div><!-- Teams Wrapper Ends /-->

    </div><!-- Row Ends /-->

</div>
<!-- Our Team Ends /-->
<!-- Call to Action box -->
<div class="call-to-action">
    <img src="~/HospitalDemoEye/images/Doctors/drAshish.jpg" alt="Vision eyeglass" />
    <div class="row">

        <div class="medium-offset-1 medium-7 small-12 columns">
            <h2><i class="fa fa-phone" aria-hidden="true"></i> 	If you Have Any Questions Call Us On <span>0771-4037979</span></h2>
        </div>
        <div class="medium-2 small-12 columns">
            <a data-open="appointment_modal" class="button primary bordered-light" href="@Url.Action("Appointment","HomeEye")">Appointment</a>
        </div>

    </div><!-- row /-->
</div>
<!-- Call to Action box ends /-->
