@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_LayoutEye.cshtml";
}

<div class="title-section module" style="background-image: url(../HospitalDemoEye/contactbannereye.jpg); height: 300px;">
    <div class="row">
        <br /><br /><br />
        <div class="small-12 columns">
            <h1>Read Our Blog</h1>
        </div><!-- Top Row /-->

    </div><!-- Row /-->
</div>


<!-- Content Area Starts -->
<div class="content-area module blog-page">
    <div class="row">

        <div class="medium-9 small-12 columns content-side">
            <div class="row">

                <div class="medium-12 small-12 columns">
                    <div class="post">
                        <div class="post-thumb">
                            <a href="#">
                                <img src="~/HospitalDemoEye/images/help/blog1.jpg" alt="My Blog post" />
                            </a>
                        </div><!-- Thumb /-->
                        <div class="post-content">
                            <h2><a href="#">What latest technology in 2016 coming up?</a></h2>
                            <div class="post-meta"><strong>Date:</strong> 20, Dec, 2016 | <strong>Category:</strong> <a href="#">Campus</a> | <strong>Author:</strong> <a href="#">Ateeq</a></div>
                            <p>Donec quis est et lorem blandit pellentesque. Pellentesque pretium lorem non ipsum fringilla placerat. Phasellus quis efficitur elit. Proin hendrerit sit amet tellus a cursus. Nam nisi magna, convallis et urna rutrum, pretium tempus tortor. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed a sapien ut elit volutpat ornare. Cras sit amet tempus ipsum, sit amet gravida lectus ... <a href="#">Read More &raquo;</a></p>
                        </div><!-- post content /-->
                    </div><!-- Post /-->
                </div><!-- Post column /-->

                <div class="medium-12 small-12 columns">
                    <div class="post">
                        <div class="post-thumb">
                            <a href="#">
                                <img src="~/HospitalDemoEye/images/help/blog2.jpg" alt="My Blog post" />
                            </a>
                        </div><!-- Thumb /-->
                        <div class="post-content">
                            <h2><a href="#">Can your eyes get healthy by eating good food?</a></h2>
                            <div class="post-meta"><strong>Date:</strong> 20, Dec, 2016 | <strong>Category:</strong> <a href="#">Campus</a> | <strong>Author:</strong> <a href="#">Ateeq</a></div>
                            <p>Donec quis est et lorem blandit pellentesque. Pellentesque pretium lorem non ipsum fringilla placerat. Phasellus quis efficitur elit. Proin hendrerit sit amet tellus a cursus. Nam nisi magna, convallis et urna rutrum, pretium tempus tortor. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed a sapien ut elit volutpat ornare. Cras sit amet tempus ipsum, sit amet gravida lectus ... <a href="#">Read More &raquo;</a></p>
                        </div><!-- post content /-->
                    </div><!-- Post /-->
                </div><!-- Post column /-->

                <div class="medium-12 small-12 columns">
                    <div class="post">
                        <div class="post-thumb">
                            <a href="#">
                                <img src="~/HospitalDemoEye/images/help/blog3.jpg" alt="My Blog post" />
                            </a>
                        </div><!-- Thumb /-->
                        <div class="post-content">
                            <h2><a href="#">Is there any side Effects of Lasic?</a></h2>
                            <div class="post-meta"><strong>Date:</strong> 20, Dec, 2016 | <strong>Category:</strong> <a href="#">Campus</a> | <strong>Author:</strong> <a href="#">Ateeq</a></div>
                            <p>Donec quis est et lorem blandit pellentesque. Pellentesque pretium lorem non ipsum fringilla placerat. Phasellus quis efficitur elit. Proin hendrerit sit amet tellus a cursus. Nam nisi magna, convallis et urna rutrum, pretium tempus tortor. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed a sapien ut elit volutpat ornare. Cras sit amet tempus ipsum, sit amet gravida lectus ... <a href="#">Read More &raquo;</a></p>
                        </div><!-- post content /-->
                    </div><!-- Post /-->
                </div><!-- Post column /-->

            </div><!-- Row /-->
            <!-- pagination starts -->
            <div class="pagination-container">
                <ul class="pagination" role="menubar" aria-label="Pagination">
                    <li class="arrow unavailable" aria-disabled="true"><a href="#">&laquo; Previous</a></li>
                    <li class="current"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li class="unavailable" aria-disabled="true"><a href="#">&hellip;</a></li>
                    <li><a href="#">12</a></li>
                    <li><a href="#">13</a></li>
                    <li class="arrow"><a href="#">Next &raquo;</a></li>
                </ul>
            </div><!-- Pagination Ends /-->

        </div><!-- left Side Ends /-->

        <div class="medium-3 small-12 columns sidebar">

            <div class="widget">
                <h2>Blog Categories</h2>

                <div class="widget-content">
                    <ul class="menu vertical">
                        <li><a href="#">Lasik Care</a></li>
                        <li><a href="#">Eye Food/Drinks</a></li>
                        <li><a href="#">Get Eyes like Tiger</a></li>
                        <li><a href="#">Dream Frame</a></li>
                    </ul>
                </div><!-- Widget Content /-->
            </div><!-- widget ends /-->

            <div class="widget">
                <h2>Optometrist Services</h2>

                <div class="widget-content">
                    <ul class="menu vertical">
                        <li><a href="#">Post Lasik Care</a></li>
                        <li><a href="#">Eye Exam Technology</a></li>
                        <li><a href="#">Dry Eyes Services</a></li>
                        <li><a href="#">Emergency Services</a></li>
                    </ul>
                </div><!-- Widget Content /-->
            </div><!-- widget ends /-->

            <div class="widget">
                <h2>Popular Tags</h2>

                <div class="widget-content">
                    <ul class="tags">
                        <li><a href="#">Something</a></li>
                        <li><a href="#">New Tag</a></li>
                        <li><a href="#">Great Tag</a></li>
                        <li><a href="#">Blue</a></li>
                        <li><a href="#">Green</a></li>
                        <li><a href="#">White</a></li>
                        <li><a href="#">Red</a></li>
                    </ul>
                </div><!-- Widget Content /-->
            </div><!-- widget ends /-->

            <div class="widget">
                <h2>Popular Posts</h2>

                <div class="widget-content">
                    <div class="popular-post">
                        <a href="single-post.html"><strong>My new post title come out</strong></a>
                        <p><img alt="" src="images/help/doctor1.jpg" class="float-left" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at velit in neque efficitur vehicula. <a href="#">Read more...</a></p>
                    </div>

                    <div class="popular-post">
                        <a href="single-post.html"><strong>My new post title come out</strong></a>
                        <p><img alt="" src="images/help/doctor2.jpg" class="float-left" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at velit in neque efficitur vehicula. <a href="#">Read more...</a></p>
                    </div>

                    <div class="popular-post">
                        <a href="single-post.html"><strong>My new post title come out</strong></a>
                        <p><img alt="" src="images/help/doctor4.jpg" class="float-left" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at velit in neque efficitur vehicula. <a href="#">Read more...</a></p>
                    </div>
                </div><!-- Widget Content /-->
            </div><!-- widget ends /-->

        </div><!-- right bar ends here /-->

    </div><!-- row / -->
</div>
<!-- Content Area Ends /-->


<div class="call-to-action">
    <img src="~/HospitalDemoEye/images/Doctors/drAshish.jpg" alt="Vision eyeglass" />
    <div class="row">

        <div class="medium-offset-1 medium-7 small-12 columns">
            <h2><i class="fa fa-phone" aria-hidden="true"></i> 	If you Have Any Questions Call Us On <span>0771-4037979</span></h2>
        </div>
        <div class="medium-2 small-12 columns">
            <a data-open="appointment_modal" class="button primary bordered-light" href="@Url.Action("Appointment","HomeEye")">Appointment</a>
        </div>

    </div><!-- row /-->
</div>

