@{
    ViewBag.Title = "Career";
    Layout = "~/Views/Shared/_LayoutEye.cshtml";
}

<div class="title-section module" style="background-image: url(../HospitalDemoEye/eyeaboutusbanner.jpg);height:300px;">
    <div class="row">
        <br /><br /><br />
        <div class="small-12 columns">
            <h1>Career</h1>
        </div><!-- Top Row /-->

    </div><!-- Row /-->
</div>

<!-- Content Area Starts -->
<div class="content-area module faq">
    <div class="row">

        <div class="medium-9 small-12 columns">

            <ul class="accordion" data-accordion>
                <li class="accordion-item is-active" data-accordion-item>
                    <a href="#" class="accordion-title">How good our eye exam and lasik surgery is?</a>
                    <div class="accordion-content" data-tab-content>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged of type and scrambled it to make a type specimen book.
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Why our technology is latest and what makes us best?</a>
                    <div class="accordion-content" data-tab-content>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged of type and scrambled it to make a type specimen book.
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Why do we respect your time and prioritize you?</a>
                    <div class="accordion-content" data-tab-content>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged of type and scrambled it to make a type specimen book.
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Do we impress you by caring your eyes most?</a>
                    <div class="accordion-content" data-tab-content>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged of type and scrambled it to make a type specimen book.
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">How hard working our staff is?</a>
                    <div class="accordion-content" data-tab-content>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged of type and scrambled it to make a type specimen book.
                    </div>

                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Is there any finance options available?</a>
                    <div class="accordion-content" data-tab-content>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged of type and scrambled it to make a type specimen book.
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">How should we care our eyes after lasik?</a>
                    <div class="accordion-content" data-tab-content>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged of type and scrambled it to make a type specimen book.
                    </div>
                </li>
            </ul> <!-- reasons accordion ends -->

        </div> <!-- right sidebar ends -->

        <div class="medium-3 small-12 columns sidebar">

            <div class="icon-box">
                <div class="icon-side float-left">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </div><!-- icon side /-->
                <div class="info-side float-left">
                    <p>
                        <strong>Is Lasik Secure?</strong><br>
                        From Last 30 years we are in industy and have honor. <br>
                        123-123-1234
                    </p>
                </div><!-- info side /-->
                <div class="clearfix"></div>
            </div><!-- icon-box /-->

            <div class="icon-box">
                <div class="icon-side float-left">
                    <i class="fa fa-stethoscope" aria-hidden="true"></i>
                </div><!-- icon side /-->
                <div class="info-side float-left">
                    <p>
                        <strong>Special Techniques</strong><br>
                        We are providing special visual teaching techniques to help you grow faster.
                    </p>
                </div><!-- info side /-->
                <div class="clearfix"></div>
            </div><!-- icon-box /-->

            <div class="icon-box">
                <div class="icon-side float-left">
                    <i class="fa fa-user-md" aria-hidden="true"></i>
                </div><!-- icon side /-->
                <div class="info-side float-left">
                    <p>
                        <strong>Qualified Staff</strong><br>
                        Our Qualified best teachers from industry give you best professional Knowledge.
                    </p>
                </div><!-- info side /-->
                <div class="clearfix"></div>
            </div><!-- icon-box /-->

            <div class="icon-box">
                <div class="icon-side float-left">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div><!-- icon side /-->
                <div class="info-side float-left">
                    <p>
                        <strong>Get Admission</strong><br>
                        Rush before all seats are reserved for current batch. <br>
                        123-123-1234
                    </p>
                </div><!-- info side /-->
                <div class="clearfix"></div>
            </div><!-- icon-box /-->

        </div><!-- icon-box ends /-->

    </div><!-- row / -->
</div>
<!-- Content Area Ends /-->



<div class="call-to-action">
    <img src="~/HospitalDemoEye/images/Doctors/drAshish.jpg" alt="Vision eyeglass" />
    <div class="row">

        <div class="medium-offset-1 medium-7 small-12 columns">
            <h2><i class="fa fa-phone" aria-hidden="true"></i> 	If you Have Any Questions Call Us On <span>0771-4037979</span></h2>
        </div>
        <div class="medium-2 small-12 columns">
            <a data-open="appointment_modal" class="button primary bordered-light" href="@Url.Action("Appointment","HomeEye")">Appointment</a>
        </div>

    </div><!-- row /-->
</div>
<!-- Call to Action box ends /-->