@{
    ViewBag.Title = "Doctors";
    Layout = "~/Views/Shared/_LayoutEye.cshtml";
}

<!-- Title Section -->
<div class="title-section module" style="background-image: url(../HospitalDemoEye/eyeaboutusbanner.jpg);height:300px;">
    <div class="row">
    <br /><br /><br />
        <div class="small-12 columns">
            <h1>Our Doctors</h1>
        </div><!-- Top Row /-->

    </div><!-- Row /-->
</div>
<!-- Title Section Ends /-->
<!-- Welcome Message -->
<div class="welcome-message module">
    <div class="row">

        <div class="medium-4 small-12 columns">
            <img src="~/HospitalDemoEye/images/help/nursinghome.jpg" style="height:220px;" alt="Best Optometrist" />
        </div><!-- Thumbnail /-->

        <div class="medium-8 small-12 columns">
            <h2>Welcome To <span>Sai Baba Eye Hospital </span></h2>
            <h3>Best Optometrist in town are ready to help you!</h3>
            <p>
                At webful vision clinic we have best optometrist in town who are ready to give you great consultation and advices to get rid of glasses or get new lense of glasses suggestion. Dont delay contact us today so we cna provide you best features.<br />
                At webful vision clinic we have best optometrist in town who are ready to give you great consultation and advices to get rid of glasses or get new lense of glasses suggestion. Dont delay contact us today so we cna provide you best features.
            </p>
        </div><!-- Detail /-->

    </div><!-- Row /-->
</div>
<!-- Welcome Message Ends /-->
<!-- Our Team -->
<div class="our-team module">
    <div class="section-title-wrapper row">
        <div class="section-title">
            <h2>Our Great Doctors</h2>
            <p>We have best professional Team to Care your Eyes</p>
        </div>
    </div><!-- Section Title /-->

    <div class="row our-staff-page module">

        <div class="doctor-column medium-6 small-12 columns">
            <div class="doctor">
                <div class="doctor-thumb float-right">
                    <a href="#">
                        <img src="~/HospitalDemoEye/images/Doctors/drAshish.jpg" alt="Doctor Doe" />
                    </a>
                    <a href="#" class="button secondary">
                        Visit Profile
                    </a>
                </div><!-- Doctor thumb /-->
                <div class="doctor-meta item-one">
                    <h4>Senior Doctor</h4>
                    <h3><a href="#">Dr. Ashish Mahobia</a></h3>
                    <p style="text-align:justify">Dr. Ashish Mahobia is a very well known ophthalmologist of Chhattisgarh region. He is being regarded as a first Ophthalmologist of Chattishgarh to have post graduate degree from KEM hospital , Mumbai. </p>
                    <div class="doctor-links">
                        <ul class="menu">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div><!-- Doctor links /-->
                </div><!-- Doctor meta /-->
                <div class="clearfix"></div>
            </div><!-- Doctor Ends /-->
        </div><!-- Docot Column Ends /-->

        <div class="doctor-column medium-6 small-12 columns">
            <div class="doctor">
                <div class="doctor-thumb float-left">
                    <a href="single-doctor.html">
                        <img src="~/HospitalDemoEye/images/Doctors/drSonalVyas.jpg" alt="Doctor Doe" />
                    </a>
                    <a href="#" class="button secondary">
                        Visit Profile
                    </a>
                </div><!-- Doctor thumb /-->
                <div class="doctor-meta item-two">
                    <h4>Senior Doctor</h4>
                    <h3><a href="#">Dr. Sonal Vyas</a></h3>
                    <p style="text-align:justify">Dr Sonal Vyas is currently working in SBH Eye Hospital, Raipur as Consultant Cornea, Ocular surface and Anterior Segment services. She completed her basic medical education and M.S in Ophthalmology from Pt J.N.M. Medical College Raipur.</p>
                    <div class="doctor-links">
                        <ul class="menu">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div><!-- Doctor links /-->
                </div><!-- Doctor meta /-->
                <div class="clearfix"></div>
            </div><!-- Doctor Ends /-->
        </div><!-- Docot Column Ends /-->

        <div class="doctor-column medium-6 small-12 columns">
            <div class="doctor">
                <div class="doctor-thumb float-right">
                    <a href="single-doctor.html">
                        <img src="~/HospitalDemoEye/images/Doctors/drSangeetaBawankure.jpg" alt="Doctor Doe" />
                    </a>
                    <a href="#" class="button secondary">
                        Visit Profile
                    </a>
                </div><!-- Doctor thumb /-->
                <div class="doctor-meta item-one">
                    <h4>Senior Doctor</h4>
                    <h3><a href="#">Dr. Sangeeta Bawankure</a></h3>
                    <p style="text-align:justify">Dr. Sangeeta Bawankure is working as anterior segment surgeon in SBH eye hospital. She completed her M.S. in Ophthalmology from pt. JNM medical collage, Raipur.</p>
                    <div class="doctor-links">
                        <ul class="menu">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div><!-- Doctor links /-->
                </div><!-- Doctor meta /-->
                <div class="clearfix"></div>
            </div><!-- Doctor Ends /-->
        </div><!-- Docot Column Ends /-->

        <div class="doctor-column medium-6 small-12 columns">
            <div class="doctor">
                <div class="doctor-thumb float-left">
                    <a href="#">
                        <img src="~/HospitalDemoEye/images/Doctors/drShamaliKohade.jpg" alt="Doctor Doe" />
                    </a>
                    <a href="single-doctor.html" class="button secondary">
                        Visit Profile
                    </a>
                </div><!-- Doctor thumb /-->
                <div class="doctor-meta item-two">
                    <h4>Senior Doctor</h4>
                    <h3><a href="#">Dr. Shamali Kohade</a></h3>
                    <p style="text-align:justify">
                        MS, RIO Bhopal.

                        Fellow in Glaucoma  LVPEI, Hyderabad.

                        Phaco fellow Baroda.
                    </p>
                    <div class="doctor-links">
                        <ul class="menu">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div><!-- Doctor links /-->
                </div><!-- Doctor meta /-->
                <div class="clearfix"></div>
            </div><!-- Doctor Ends /-->
        </div><!-- Docot Column Ends /-->

        @*<div class="doctor-column medium-6 small-12 columns">
            <div class="doctor">
                <div class="doctor-thumb float-right">
                    <a href="single-doctor.html">
                        <img src="images/help/doctor5.jpg" alt="Doctor Doe" />
                    </a>
                    <a href="single-doctor.html" class="button secondary">
                        Visit Profile
                    </a>
                </div><!-- Doctor thumb /-->
                <div class="doctor-meta item-one">
                    <h4>Senior Doctor</h4>
                    <h3><a href="#">Mr. John Doe</a></h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                    <div class="doctor-links">
                        <ul class="menu">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div><!-- Doctor links /-->
                </div><!-- Doctor meta /-->
                <div class="clearfix"></div>
            </div><!-- Doctor Ends /-->
        </div><!-- Docot Column Ends /-->

        <div class="doctor-column medium-6 small-12 columns">
            <div class="doctor">
                <div class="doctor-thumb float-left">
                    <a href="single-doctor.html">
                        <img src="images/help/doctor6.jpg" alt="Doctor Doe" />
                    </a>
                    <a href="single-doctor.html" class="button secondary">
                        Visit Profile
                    </a>
                </div><!-- Doctor thumb /-->
                <div class="doctor-meta item-two">
                    <h4>Senior Doctor</h4>
                    <h3><a href="#">Mr. John Doe</a></h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                    <div class="doctor-links">
                        <ul class="menu">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div><!-- Doctor links /-->
                </div><!-- Doctor meta /-->
                <div class="clearfix"></div>
            </div><!-- Doctor Ends /-->
        </div><!-- Docot Column Ends /-->*@

    </div>
</div>
<!-- Our Team Ends /-->
<!-- Banner -->
<div class="our-services module dark-with-bg">
    <img src="images/help/banner-doctor.png" class="upper-background" alt="Business Women" />
    <div class="row inner-padding">

        <div class="our-process-wrapper">

            <div class="medium-8 medium-offset-3 small-12 columns our-process">
                <h2>Consultation, Pre Procedure, Treatment!</h2>

                <div class="process">
                    <div class="number">1</div>
                    <div class="right-info">
                        <h3>Get a free consultation from Senior Doctor!</h3>
                        <p>Once upon a time there was a thirsty crow he flew here and there in search of water.</p>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- process /-->

                <div class="process">
                    <div class="number">2</div>
                    <div class="right-info">
                        <h3>Let yourself get the pre procedure steps!</h3>
                        <p>But he could not find water anywhere at last he reached in a garden where he saw a pitcher.</p>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- process /-->

                <div class="process">
                    <div class="number">3</div>
                    <div class="right-info">
                        <h3>Get the procedure from best Doctors! For Best Eyes!</h3>
                        <p>Thirsty Crow should Call us at: 123-123-1234 to drink water asap before all seats are reserved.</p>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- process /-->
            </div><!-- Left Process Ends /-->

        </div><!-- Events Wrapper Ends /-->

    </div><!-- Row Ends /-->
</div>
<!-- Banner Ends /-->
<!-- Call to Action box -->
<div class="call-to-action">
    <img src="~/HospitalDemoEye/images/Doctors/drAshish.jpg" alt="Vision eyeglass" />
    <div class="row">

        <div class="medium-offset-1 medium-7 small-12 columns">
            <h2><i class="fa fa-phone" aria-hidden="true"></i> 	If you Have Any Questions Call Us On <span>0771-4037979</span></h2>
        </div>
        <div class="medium-2 small-12 columns">
            <a data-open="appointment_modal" class="button primary bordered-light" href="@Url.Action("Appointment","HomeEye")">Appointment</a>
        </div>

    </div><!-- row /-->
</div>
<!-- Call to Action box ends /-->
