
@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_LayoutEye.cshtml";
}
<link href="~/HospitalDemoEye/css/lightbox.min.css" rel="stylesheet" />

<div class="title-section module" style="background-image: url(../HospitalDemoEye/eventbannereye.jpg); height: 300px;">
    <div class="row">
        <br /><br /><br />
        <div class="small-12 columns">
            <h1>Events</h1>
        </div><!-- Top Row /-->

    </div><!-- Row /-->
</div>

  <!-- Content Area Starts -->
<div class="module">

    <div class="section-title-wrapper row">
        <div class="section-title">
            <h2>Amazing <span>Staff and Services</span></h2>
            <p>Some Amazing Stuff from our Clinic</p>
        </div>
    </div><!-- Section Title Ends /-->

    <div class="gallery-container">

        <a href="~/HospitalDemoEye/images/help/gallery/gallery1.jpg" data-lightbox="campus-gallery" data-title="Great Life in our Campus. Some great moments of life.">
            <img class="gallery-thumb" src="~/HospitalDemoEye/images/help/gallery/gallery1.jpg" alt="" />
        </a>
        <a href="~/HospitalDemoEye/images/help/gallery/gallery2.jpg" data-lightbox="campus-gallery" data-title="Great Life in our Campus. Some great moments of life.">
            <img class="gallery-thumb" src="~/HospitalDemoEye/images/help/gallery/gallery2.jpg" alt="" />
        </a>
        <a href="~/HospitalDemoEye/images/help/gallery/gallery3.jpg" data-lightbox="campus-gallery" data-title="Great Life in our Campus. Some great moments of life.">
            <img class="gallery-thumb" src="~/HospitalDemoEye/images/help/gallery/gallery3.jpg" alt="" />
        </a>
        <a href="~/HospitalDemoEye/images/help/gallery/gallery4.jpg" data-lightbox="campus-gallery" data-title="Great Life in our Campus. Some great moments of life.">
            <img class="gallery-thumb" src="~/HospitalDemoEye/images/help/gallery/gallery4.jpg" alt="" />
        </a>
        <a href="~/HospitalDemoEye/images/help/gallery/gallery5.jpg" data-lightbox="campus-gallery" data-title="Great Life in our Campus. Some great moments of life.">
            <img class="gallery-thumb" src="~/HospitalDemoEye/images/help/gallery/gallery5.jpg" alt="" />
        </a>
        <a href="~/HospitalDemoEye/images/help/gallery/gallery6.jpg" data-lightbox="campus-gallery" data-title="Great Life in our Campus. Some great moments of life.">
            <img class="gallery-thumb" src="~/HospitalDemoEye/images/help/gallery/gallery6.jpg" alt="" />
        </a>
        <a href="~/HospitalDemoEye/images/help/gallery/gallery7.jpg" data-lightbox="campus-gallery" data-title="Great Life in our Campus. Some great moments of life.">
            <img class="gallery-thumb" src="~/HospitalDemoEye/images/help/gallery/gallery7.jpg" alt="" />
        </a>
        <a href="~/HospitalDemoEye/images/help/gallery/gallery8.jpg" data-lightbox="campus-gallery" data-title="Great Life in our Campus. Some great moments of life.">
            <img class="gallery-thumb" src="~/HospitalDemoEye/images/help/gallery/gallery8.jpg" alt="" />
        </a>
        <a href="~/HospitalDemoEye/images/help/gallery/gallery9.jpg" data-lightbox="campus-gallery" data-title="Great Life in our Campus. Some great moments of life.">
            <img class="gallery-thumb" src="~/HospitalDemoEye/images/help/gallery/gallery9.jpg" alt="" />
        </a>
        <a href="~/HospitalDemoEye/images/help/gallery/gallery10.jpg" data-lightbox="campus-gallery" data-title="Great Life in our Campus. Some great moments of life.">
            <img class="gallery-thumb" src="~/HospitalDemoEye/images/help/gallery/gallery10.jpg" alt="" />
        </a>
        <a href="~/HospitalDemoEye/images/help/gallery/gallery11.jpg" data-lightbox="campus-gallery" data-title="Great Life in our Campus. Some great moments of life.">
            <img class="gallery-thumb" src="~/HospitalDemoEye/images/help/gallery/gallery11.jpg" alt="" />
        </a>
        <a href="~/HospitalDemoEye/images/help/gallery/gallery12.jpg" data-lightbox="campus-gallery" data-title="Great Life in our Campus. Some great moments of life.">
            <img class="gallery-thumb" src="~/HospitalDemoEye/images/help/gallery/gallery12.jpg" alt="" />
        </a>

    </div><!-- Gallery Container /-->

</div>
<!-- Content Area Ends /-->
<!-- Call to Action box -->
<div class="call-to-action">
    <img src="~/HospitalDemoEye/images/Doctors/drAshish.jpg" alt="Vision eyeglass" />
    <div class="row">

        <div class="medium-offset-1 medium-7 small-12 columns">
            <h2><i class="fa fa-phone" aria-hidden="true"></i> 	If you Have Any Questions Call Us On <span>0771-4037979</span></h2>
        </div>
        <div class="medium-2 small-12 columns">
            <a data-open="appointment_modal" class="button primary bordered-light" href="@Url.Action("Appointment","HomeEye")">Appointment</a>
        </div>

    </div><!-- row /-->
</div>
<!-- Call to Action box ends /-->


<script src="js/lightbox.min.js"></script>