
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEye.cshtml";
}

 <!-- Main Banner -->
<div class="main-banner">
    <div id="homepageslider_wrapper" class="rev_slider_wrapper" data-alias="news-gallery34">

        <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
        <div id="homepageslider" class="rev_slider" data-version="5.0.7">
            <ul>
                <!-- SLIDE  -->
              
                <li data-index="rs-16" data-transition="zoomout" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="~/HospitalDemoEye/images/help/slide01eye.jpg" alt="First Slide" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" />
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper layer1 tp-resizeme rs-parallaxlevel-0"
                         id="slide-16-layer-3"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="s:300;s:300;"
                         data-start="1000"
                         data-basealign="slide"
                         data-responsive_offset="on">
                    </div>

                   
                </li>

                <!-- SLIDE  -->
                <li data-index="rs-17" data-transition="fadetotopfadefrombottom" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="~/HospitalDemoEye/images/help/slide02eye.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper layer1 tp-resizeme rs-parallaxlevel-0"
                         id="slide-17-layer-3"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="s:300;s:300;"
                         data-start="1000"
                         data-basealign="slide"
                         data-responsive_offset="on">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Newspaper-Title-Centered layer2 tp-resizeme rs-parallaxlevel-0"
                         id="slide-17-layer-1"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','1']"
                         data-fontsize="['50','50','50','30']"
                         data-lineheight="['55','55','55','35']"
                         data-width="['721','721','721','420']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;"
                         data-mask_in="x:0px;y:0px;"
                         data-mask_out="x:0;y:0;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        Do you feel dry eyes after using computer or mobile?
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption Newspaper-Subtitle layer3 tp-resizeme rs-parallaxlevel-0"
                         id="slide-17-layer-2"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-82','-82','-82','-58']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;"
                         data-mask_in="x:0px;y:0px;"
                         data-mask_out="x:0;y:0;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        Dry Eye Center
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption layer4 rs-parallaxlevel-0"
                         id="slide-17-layer-4"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['92','92','92','76']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                         data-transform_out="y:50px;opacity:0;s:1000;s:1000;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-responsive="off">
                        <a href="#" class="button primary bordered-light">READ MORE</a>
                    </div>
                </li>

                <!-- SLIDE  -->
                <li data-index="rs-18" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="~/HospitalDemoEye/images/help/slide03eye.jpg" alt="" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper layer1 tp-resizeme rs-parallaxlevel-0"
                         id="slide-18-layer-3"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="s:300;s:300;"
                         data-start="1000"
                         data-basealign="slide"
                         data-responsive_offset="on">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Newspaper-Title-Centered layer2 tp-resizeme rs-parallaxlevel-0"
                         id="slide-18-layer-1"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','1']"
                         data-fontsize="['50','50','50','30']"
                         data-lineheight="['55','55','55','35']"
                         data-width="['721','721','721','420']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;"
                         data-mask_in="x:0px;y:0px;"
                         data-mask_out="x:0;y:0;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        We have vast range of eye lenses to suggest you!
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption Newspaper-Subtitle layer3 tp-resizeme rs-parallaxlevel-0"
                         id="slide-18-layer-2"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-82','-82','-82','-58']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;"
                         data-mask_in="x:0px;y:0px;"
                         data-mask_out="x:0;y:0;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        Shaded Lense
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption layer4 rs-parallaxlevel-0"
                         id="slide-18-layer-4"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['92','92','92','76']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                         data-transform_out="y:50px;opacity:0;s:1000;s:1000;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-responsive="off">
                        <a href="#" class="button primary bordered-light">READ MORE</a>
                    </div>
                </li>

                <!-- SLIDE  -->
                <li data-index="rs-19" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="~/HospitalDemoEye/images/help/slide4.jpg" alt="" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper layer1 tp-resizeme rs-parallaxlevel-0"
                         id="slide-19-layer-3"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="s:300;s:300;"
                         data-start="1000"
                         data-basealign="slide"
                         data-responsive_offset="on">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Newspaper-Title-Centered layer2 tp-resizeme rs-parallaxlevel-0"
                         id="slide-19-layer-1"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','1']"
                         data-fontsize="['50','50','50','30']"
                         data-lineheight="['55','55','55','35']"
                         data-width="['721','721','721','420']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;"
                         data-mask_in="x:0px;y:0px;"
                         data-mask_out="x:0;y:0;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        Our Lasik Specialist can give you laser treatment to!
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption Newspaper-Subtitle layer3 tp-resizeme rs-parallaxlevel-0"
                         id="slide-19-layer-2"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-82','-82','-82','-58']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;"
                         data-mask_in="x:0px;y:0px;"
                         data-mask_out="x:0;y:0;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        Get Rid of Glasses
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption layer4 rs-parallaxlevel-0"
                         id="slide-19-layer-4"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['92','92','92','76']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                         data-transform_out="y:50px;opacity:0;s:1000;s:1000;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-responsive="off">
                        <a href="#" class="button primary bordered-light">READ MORE</a>
                    </div>
                </li>
            </ul>
            <div class="tp-static-layers"></div>
            <div class="tp-bannertimer"></div>
        </div>

    </div><!-- END REVOLUTION SLIDER /-->
</div>
<!-- Main Banner Ends /-->



 <!-- Information Boxes -->
<div class="information-boxes module">
    <div class="row">

        <div class="medium-4 small-12 columns information-box">
            <div class="info-detail">
                <h3>Lenses & Frames</h3>
                <p>Our Vide range of Lenses and frames help you to chose best suiteable items for you.</p>
                <ul class="checked-list">
                    <li>Latest To Fashion</li>
                    <li>High Quality and Branded</li>
                    <li>Best for your Eyes</li>
                </ul>
                <a href="#" class="secondary button">Read More</a>
            </div><!-- Box Detail /-->
            <div class="info-thumb">
                <img src="~/HospitalDemoEye/images/help/lenseandframe.png" alt="Lenses and Frames" />
            </div><!-- Box Thumb /-->
        </div><!-- Column Ends /-->

        <div class="medium-4 small-12 columns information-box">
            <div class="info-detail">
                <h3>Routine Eye Exam</h3>
                <p>Our Vide range of Lenses and frames help you to chose best suiteable items for you.</p>
                <ul class="checked-list">
                    <li>Great Equipment</li>
                    <li>Professional Staff</li>
                    <li>Care your Vision</li>
                </ul>
                <a href="#" class="primary button">Read More</a>
            </div><!-- Box Detail /-->
            <div class="info-thumb">
                <img src="~/HospitalDemoEye/images/help/lenseandframe2.png" alt="Lenses and Frames" />
            </div><!-- Box Thumb /-->
        </div><!-- Column Ends /-->

        <div class="medium-4 small-12 columns information-box end">
            <div class="info-detail">
                <h3>Vision Therapy</h3>
                <p>Our Vide range of Lenses and frames help you to chose best suiteable items for you.</p>
                <ul class="checked-list">
                    <li>Latest To Fashion</li>
                    <li>High Quality and Branded</li>
                    <li>Best for your Eyes</li>
                </ul>
                <a href="#" class="secondary button">Read More</a>
            </div><!-- Box Detail /-->
            <div class="info-thumb">
                <img src="~/HospitalDemoEye/images/help/lenseandframe3.png" alt="Lenses and Frames" />
            </div><!-- Box Thumb /-->
        </div><!-- Column Ends /-->

    </div><!-- Row /-->
</div>
<!-- INformation Boxes ends /-->
<!-- Welcome Message -->
<div class="welcome-message">
    <div class="row">

        <div class="medium-6 small-12 columns">
            <img src="~/HospitalDemoEye/images/help/nursinghome.jpg" style="height:320px;" alt="Best Optometrist" />
        </div><!-- Thumbnail /-->

        <div class="medium-6 small-12 columns padding-bottom">
            <h2>Welcome To <span>Sai Baba Eye Hospital</span></h2>
            <h3>Best Optometrist in town are ready to help you!</h3>
            <p>At Sai Baba Eye Hospital we have best optometrist in town who are ready to give you great consultation and advices to get rid of glasses or get new lense of glasses suggestion. Dont delay contact us today so we cna provide you best features. once things start working nicely we will adjust good profits for our customers so they can get good eyes in less money. This is only we care and we want to care.</p>
            <div class="awards">
                <img src="~/HospitalDemoEye/images/help/award1.png" alt="Medical award" />
                <img src="~/HospitalDemoEye/images/help/award2.png" alt="Medical Award" />
                <blockquote>
                    <strong>Dr. John Doe</strong> <br>
                    Is best Doctor for the Optometrists in Jacksonville. He is really passionate to help patients.
                </blockquote>
            </div><!-- awards /-->
        </div><!-- Detail /-->

    </div><!-- Row /-->
</div>
<!-- Welcome Message Ends /-->
<!-- Our Services -->
<div class="our-services module inner-padding dark-with-bg">
    <div class="section-title-wrapper light-title row">
        <div class="section-title">
            <h2>Our Eye Services</h2>
            <p>Our Services to give best care for your eyes</p>
        </div>
    </div><!-- Section Title /-->

    <div class="row">

        <div class="services-blocks services-carousel dots-style">

            <div>
                <div class="serivce-block">
                    <div class="service-thumb">
                        <a href="single-service.html">
                            <img src="~/HospitalDemoEye/images/help/services/post-operative-lasik-care.jpg" alt="Post operative lasik care" />
                        </a>
                    </div><!-- Service Thumb /-->
                    <div class="service-info">
                        <h4><a href="single-service.html">Post Operative Lasik Care</a></h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem dummy text ever. Since then we are using <a href="single-service.html">Read More &raquo;</a></p>
                    </div><!-- Service Info /-->
                </div><!-- Service /-->
            </div><!-- Service Blog column /-->

            <div>
                <div class="serivce-block">
                    <div class="service-thumb">
                        <a href="single-service.html">
                            <img src="~/HospitalDemoEye/images/help/services/lense-consultation.jpg" alt="Post operative lasik care" />
                        </a>
                    </div><!-- Service Thumb /-->
                    <div class="service-info">
                        <h4><a href="single-service.html">Free Lense Consultation</a></h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem dummy text ever. Since then we are using <a href="single-service.html">Read More &raquo;</a></p>
                    </div><!-- Service Info /-->
                </div><!-- Service /-->
            </div><!-- Service Blog column /-->

            <div>
                <div class="serivce-block">
                    <div class="service-thumb">
                        <a href="single-service.html">
                            <img src="~/HospitalDemoEye/images/help/services/lasik-consultation.jpg" alt="Post operative lasik care" />
                        </a>
                    </div><!-- Service Thumb /-->
                    <div class="service-info">
                        <h4><a href="single-service.html">Great Lasik Consultation</a></h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem dummy text ever. Since then we are using <a href="single-service.html">Read More &raquo;</a></p>
                    </div><!-- Service Info /-->
                </div><!-- Service /-->
            </div><!-- Service Blog column /-->

            <div>
                <div class="serivce-block">
                    <div class="service-thumb">
                        <a href="single-service.html">
                            <img src="~/HospitalDemoEye/images/help/services/glaucoma-screening.jpg" alt="Post operative lasik care" />
                        </a>
                    </div><!-- Service Thumb /-->
                    <div class="service-info">
                        <h4><a href="single-service.html">Glaucoma Screening</a></h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem dummy text ever. Since then we are using <a href="single-service.html">Read More &raquo;</a></p>
                    </div><!-- Service Info /-->
                </div><!-- Service /-->
            </div><!-- Service Blog column /-->

            <div>
                <div class="serivce-block">
                    <div class="service-thumb">
                        <a href="single-service.html">
                            <img src="~/HospitalDemoEye/images/help/services/eye-infection.jpg" alt="Post operative lasik care" />
                        </a>
                    </div><!-- Service Thumb /-->
                    <div class="service-info">
                        <h4><a href="single-service.html">Eye Infection Care</a></h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem dummy text ever. Since then we are using <a href="single-service.html">Read More &raquo;</a></p>
                    </div><!-- Service Info /-->
                </div><!-- Service /-->
            </div><!-- Service Blog column /-->

            <div>
                <div class="serivce-block">
                    <div class="service-thumb">
                        <a href="single-service.html">
                            <img src="~/HospitalDemoEye/images/help/services/eye-exam.jpg" alt="Post operative lasik care" />
                        </a>
                    </div><!-- Service Thumb /-->
                    <div class="service-info">
                        <h4><a href="single-service.html">Computerized Eye Exam</a></h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem dummy text ever. Since then we are using <a href="single-service.html">Read More &raquo;</a></p>
                    </div><!-- Service Info /-->
                </div><!-- Service /-->
            </div><!-- Service Blog column /-->

            <div>
                <div class="serivce-block">
                    <div class="service-thumb">
                        <a href="single-service.html">
                            <img src="~/HospitalDemoEye/images/help/services/dry-eyes.jpg" alt="Post operative lasik care" />
                        </a>
                    </div><!-- Service Thumb /-->
                    <div class="service-info">
                        <h4><a href="single-service.html">Dry Eyes Treatment</a></h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem dummy text ever. Since then we are using <a href="single-service.html">Read More &raquo;</a></p>
                    </div><!-- Service Info /-->
                </div><!-- Service /-->
            </div><!-- Service Blog column /-->

            <div>
                <div class="serivce-block">
                    <div class="service-thumb">
                        <a href="single-service.html">
                            <img src="~/HospitalDemoEye/images/help/services/contract-screening.jpg" alt="Post operative lasik care" />
                        </a>
                    </div><!-- Service Thumb /-->
                    <div class="service-info">
                        <h4><a href="single-service.html">Contract Screening</a></h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem dummy text ever. Since then we are using <a href="single-service.html">Read More &raquo;</a></p>
                    </div><!-- Service Info /-->
                </div><!-- Service /-->
            </div><!-- Service Blog column /-->

        </div><!-- Services blocks /-->

    </div><!-- Row /-->

</div>
<!-- Our Services /-->
<!-- Our Team -->
<div class="our-team module">
    <div class="section-title-wrapper row">
        <div class="section-title">
            <h2>Meet Our <span>Doctors</span></h2>
            <p>We have best professional Team to Care your Eyes</p>
        </div>
    </div><!-- Section Title Ends /-->

    <div class="row">

        <div class="teams-wrapper side-controls">

            <div class="doctor-column">
                <div class="doctor">
                    <div class="doctor-thumb">
                        <a href="#">
                            <img src="~/HospitalDemoEye/images/Doctors/drAshish.jpg" alt="Doctor Doe" />
                        </a>
                        <a href="#" class="button secondary">
                            Visit Profile
                        </a>
                    </div><!-- Doctor thumb /-->
                    <div class="doctor-meta">
                        <h4>Senior Doctor</h4>
                        <h3><a href="#">Dr. Ashish Mahobia</a></h3>
                        <p>
                            (Retina specialist) <br />
                            M.S. (KEM Mumbai), <br />
                            F.N.B. Retina (Delhi), <br />
                            <b style="color:red">Laser And Retina Specialist</b>

                        </p>
                        <div class="doctor-links">
                            <ul class="menu">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div><!-- Doctor links /-->
                    </div><!-- Doctor meta /-->
                </div><!-- Doctor Ends /-->
            </div><!-- Docot Column Ends /-->

            <div class="doctor-column">
                <div class="doctor">
                    <div class="doctor-thumb">
                        <a href="#">
                            <img src="~/HospitalDemoEye/images/Doctors/drSonalVyas.jpg" alt="Doctor Doe" />
                        </a>
                        <a href="#" class="button secondary">
                            Visit Profile
                        </a>
                    </div><!-- Doctor thumb /-->
                    <div class="doctor-meta">
                        <h4>Senior Doctor</h4>
                        <h3><a href="#">Dr. Sonal Vyas</a></h3>
                        <p>
                            M.S., SRTF (SN, Chennai) <br />
                            Ex Senior Registrar, Medical College Hospital Raipur (C.G.) <br />
                            <b style="color:red">  Ex Consultant RKMS Hospital, Haridwar (U.K.)</b>

                        </p>
                        <div class="doctor-links">
                            <ul class="menu">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div><!-- Doctor links /-->
                    </div><!-- Doctor meta /-->
                </div><!-- Doctor Ends /-->
            </div><!-- Docot Column Ends /-->

            <div class="doctor-column">
                <div class="doctor">
                    <div class="doctor-thumb">
                        <a href="single-doctor.html">
                            <img src="~/HospitalDemoEye/images/Doctors/drSangeetaBawankure.jpg" alt=" doctor doe" />
                        </a>
                        <a href="single-doctor.html" class="button secondary">
                            Visit Profile
                        </a>
                    </div><!-- Doctor thumb /-->
                    <div class="doctor-meta">
                        <h4>Senior Doctor</h4>
                        <h3><a href="#">Dr. Sangeeta Bawankure</a></h3>
                        <p>
                            M.S Opthalmology Ayush And Health <br />
                            Science University Of Chhattisgarh.
                        </p>
                        <div class="doctor-links">
                            <ul class="menu">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div><!-- Doctor links /-->
                    </div><!-- Doctor meta /-->
                </div><!-- Doctor Ends /-->
            </div><!-- Docot Column Ends /-->

            <div class="doctor-column">
                <div class="doctor">
                    <div class="doctor-thumb">
                        <a href="#">
                            <img src="~/HospitalDemoEye/images/Doctors/drShamaliKohade.jpg" alt=" doctor doe" />
                        </a>
                        <a href="#" class="button secondary">
                            Visit Profile
                        </a>
                    </div><!-- Doctor thumb /-->
                    <div class="doctor-meta">
                        <h4>Senior Doctor</h4>
                        <h3><a href="#">Dr. Shamali Kohade</a></h3>
                        <p>
                            MBBS (GRMC Gwalior) , MS (RIO Bhopal) <br />
                            Exp - 6 years
                        </p>
                        <div class="doctor-links">
                            <ul class="menu">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div><!-- Doctor links /-->
                    </div><!-- Doctor meta /-->
                </div><!-- Doctor Ends /-->
            </div><!-- Docot Column Ends /-->


        </div><!-- Teams Wrapper Ends /-->

    </div><!-- Row Ends /-->

</div>
<!-- Our Team Ends /-->



 <!-- Why Chose Us -->
<div class="why-chose-us module">
    <div class="section-title-wrapper row">
        <div class="section-title">
            <h2>Why Chose <span>Us?</span></h2>
            <p>We have best professional Team to Care your Eyes</p>
        </div>
    </div><!-- Section Title /-->

    <div class="row">

        <div class="medium-8 small-12 columns">
            <ul class="accordion" data-accordion>
                <li class="accordion-item is-active" data-accordion-item>
                    <a href="#" class="accordion-title">Do we provide consultation for free?</a>
                    <div class="accordion-content" data-tab-content>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged of type and scrambled it to make a type specimen book.
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Is our procedure latest to technology?</a>
                    <div class="accordion-content" data-tab-content>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged of type and scrambled it to make a type specimen book.
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Do we respect your time and care your eyes most?</a>
                    <div class="accordion-content" data-tab-content>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged of type and scrambled it to make a type specimen book.
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">What financial solutions we have to help you?</a>
                    <div class="accordion-content" data-tab-content>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged of type and scrambled it to make a type specimen book.
                    </div>
                </li>

            </ul> <!-- reasons accordion ends /-->
        </div><!-- FAQ column /-->

        <div class="testimonials medium-4 small-12 columns">
            <div class="testimonials-carousel dots-style">

                <div class="testimonial">
                    <div class="quote">
                        <p>Shama kahay parwanay se paray chala jaaa, meri tarhan jal jaye ga yahan nahi aaa, Wo nahi sunta usko jal jana hota hai, her khushi se her gham se begana hota hai. Piyar diwana hota hai mastana hota hai her khushi se her gham se begana hota hai.</p>
                    </div>
                    <div class="student">
                        <div class="photo">
                            <img src="~/HospitalDemoEye/images/help/testi1.jpg" alt="testimonial imag" />
                        </div>
                        <p>Vicky Doe</p>
                        <p>Important person, some Company</p>
                    </div>
                </div><!-- TEstimonial /-->

                <div class="testimonial">
                    <div class="quote">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, elit sed faucibus pharetra, diam mauris bibendum orci, sit amet ullamcorper purus dui sit amet augue. Donec aliquet diam ut neque mattis, eu tristique sem rutrum.</p>
                    </div>
                    <div class="student">
                        <div class="photo">
                            <img src="~/HospitalDemoEye/images/help/testi2.jpg" alt="testimonial imag" />
                        </div>
                        <p>John Doe</p>
                        <p>Important person, some Company</p>
                    </div>
                </div><!-- TEstimonial /-->

                <div class="testimonial">
                    <div class="quote">
                        <p>A quick brown fox jumps over the lazy dog Yeh shaam mastani madhosh kiye jaaye muje dor koi khiche teri orh liye jaye, Once upon a time there was a thirsty crow he flew here and there in search of water but he could not find water anywhere.</p>
                    </div>
                    <div class="student">
                        <div class="photo">
                            <img src="~/HospitalDemoEye/images/help/testi3.jpg" alt="testimonial imag" />
                        </div>
                        <p>Tina Doe</p>
                        <p>Important person, some Company</p>
                    </div>
                </div><!-- TEstimonial /-->

            </div><!-- testimonials carousel /-->
        </div><!-- Testimonials /-->

    </div>

</div>
<!-- Why Chose Us /-->
<!-- Banner -->
<div class="our-services module dark-with-bg">
    <img src="images/help/banner-doctor.png" class="upper-background" alt="Business Women" />
    <div class="row inner-padding">

        <div class="our-process-wrapper">

            <div class="medium-8 medium-offset-3 small-12 columns our-process">
                <h2>Consultation, Pre Procedure, Treatment!</h2>

                <div class="process">
                    <div class="number">1</div>
                    <div class="right-info">
                        <h3>Get a free consultation from Senior Doctor!</h3>
                        <p>Once upon a time there was a thirsty crow he flew here and there in search of water.</p>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- process /-->

                <div class="process">
                    <div class="number">2</div>
                    <div class="right-info">
                        <h3>Let yourself get the pre procedure steps!</h3>
                        <p>But he could not find water anywhere at last he reached in a garden where he saw a pitcher.</p>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- process /-->

                <div class="process">
                    <div class="number">3</div>
                    <div class="right-info">
                        <h3>Get the procedure from best Doctors! For Best Eyes!</h3>
                        <p>Thirsty Crow should Call us at: 123-123-1234 to drink water asap before all seats are reserved.</p>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- process /-->
            </div><!-- Left Process Ends /-->

        </div><!-- Events Wrapper Ends /-->

    </div><!-- Row Ends /-->
</div>
<!-- Banner Ends /-->
<!-- Blog Posts -->
<div class="blog-posts module">
    <div class="section-title-wrapper row">
        <div class="section-title">
            <h2>Recent <span>News</span></h2>
            <p>What's going on in our Blog?</p>
        </div>
    </div> <!-- Title Ends /-->

    <div class="row">

        <div class="posts-wrapper">

            <div class="medium-4 small-12 columns">
                <div class="post">
                    <div class="post-thumb">
                        <a href="#">
                            <img src="~/HospitalDemoEye/images/help/slide1.jpg" alt="My Blog post" />
                        </a>
                    </div><!-- Thumb /-->
                    <div class="post-content">
                        <h4><a href="#">Want to see 20/20?</a></h4>
                        <div class="post-meta"><strong>Date:</strong> 20, Dec, 2016 | <strong>Category:</strong> <a href="#">Campus</a> | <strong>Author:</strong> <a href="#">Ateeq</a></div>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text ... <a href="#">Read More &raquo;</a></p>
                    </div><!-- post content /-->
                </div><!-- Post /-->
            </div><!-- Post column /-->

            <div class="medium-4 small-12 columns">
                <div class="post">
                    <div class="post-thumb">
                        <a href="#">
                            <img src="~/HospitalDemoEye/images/help/slide2.jpg" alt="My Blog post" />
                        </a>
                    </div><!-- Thumb /-->
                    <div class="post-content">
                        <h4><a href="#">The Best Gift Eyes</a></h4>
                        <div class="post-meta"><strong>Date:</strong> 20, Dec, 2016 | <strong>Category:</strong> <a href="#">Campus</a> | <strong>Author:</strong> <a href="#">Ateeq</a></div>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text ... <a href="#">Read More &raquo;</a></p>
                    </div><!-- post content /-->
                </div><!-- Post /-->
            </div><!-- Post column /-->

            <div class="medium-4 small-12 columns">
                <div class="post">
                    <div class="post-thumb">
                        <a href="#">
                            <img src="~/HospitalDemoEye/images/help/slide3.jpg" alt="My Blog post" />
                        </a>
                    </div><!-- Thumb /-->
                    <div class="post-content">
                        <h4><a href="#">Best Treatment for you</a></h4>
                        <div class="post-meta"><strong>Date:</strong> 20, Dec, 2016 | <strong>Category:</strong> <a href="#">Campus</a> | <strong>Author:</strong> <a href="#">Ateeq</a></div>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text ... <a href="#">Read More &raquo;</a></p>
                    </div><!-- post content /-->
                </div><!-- Post /-->
            </div><!-- Post column /-->

        </div><!-- Posts Wrapper /-->

        <div class="load-more text-center">
            <a href="#" class="button primary bordered-dark">Load More...</a>
        </div><!-- Load more /-->

    </div><!-- Row Ends /-->

</div>
<!-- Blog Posts Ends /-->
<!-- brands Section -->
<div class="our-brands module">
    <div class="section-title-wrapper row">
        <div class="section-title">
            <h2>Financial <span>Partners</span></h2>
            <p>We are authorized by many Employers and Insurances.</p>
        </div>
    </div><!-- Section Title /-->

    <div class="row">

        <div class="brand-carousel side-controls">

            <div class="bran-logo">
                <a href="#"><img alt="" src="~/HospitalDemoEye/images/help/partner1.jpg" class="thumbnail" /></a>
            </div>
            <div class="bran-logo">
                <a href="#"><img alt="" src="~/HospitalDemoEye/images/help/partner2.jpg" class="thumbnail" /></a>
            </div>
            <div class="bran-logo">
                <a href="#"><img alt="" src="~/HospitalDemoEye/images/help/partner3.jpg" class="thumbnail" /></a>
            </div>
            <div class="bran-logo">
                <a href="#"><img alt="" src="~/HospitalDemoEye/images/help/partner4.jpg" class="thumbnail" /></a>
            </div>
            <div class="bran-logo">
                <a href="#"><img alt="" src="~/HospitalDemoEye/images/help/partner5.jpg" class="thumbnail" /></a>
            </div>
            <div class="bran-logo">
                <a href="#"><img alt="" src="~/HospitalDemoEye/images/help/partner6.jpg" class="thumbnail" /></a>
            </div>

        </div><!-- Brand carousel /-->

    </div><!-- Row /-->
</div>
<!-- brands Section Ends /-->
<!-- Call to Action box -->
<div class="call-to-action">
    <img src="~/HospitalDemoEye/images/help/doctor.png" alt="Vision eyeglass" />
    <div class="row">

        <div class="medium-offset-1 medium-7 small-12 columns">
            <h2><i class="fa fa-phone" aria-hidden="true"></i> 	If you Have Any Questions Call Us On <span>(010)123-456-7890</span></h2>
        </div>
        <div class="medium-2 small-12 columns">
            <a data-open="appointment_modal" class="button primary bordered-light" href="@Url.Action("Appointment","HomeEye")">Appointment</a>
        </div>

    </div><!-- row /-->
</div>
<!-- Call to Action box ends /-->

