@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_LayoutEye.cshtml";
}

<div class="title-section module" style="background-image: url(../HospitalDemoEye/eyeaboutusbanner.jpg);height:300px;">
    <div class="row">
        <br /><br /><br />
        <div class="small-12 columns">
            <h1>Our Services</h1>
        </div><!-- Top Row /-->

    </div><!-- Row /-->
</div>


<!-- Content Area -->
<div class="content-area services module">
    <div class="row">

        <div class="medium-4 small-12 columns service">
            <div class="serivce-block">
                <div class="service-thumb">
                    <a href="#">
                       
                        <img src="~/HospitalDemoEye/images/Services/glukoma.jpg" style="height:250px;" alt="Post operative lasik care" />
                    </a>
                </div><!-- Service Thumb /-->
                <div class="service-info">
                    <h4><a href="#">Glaucoma</a></h4>
                    <p style="text-align:justify">Glaucoma is a group of diseases that affect the optic nerve and involves a loss of retinal ganglion cells in a characteristic pattern. It is a type of optic neuropathy. Raised intraocular pressure is a significant risk factor for developing glaucoma (above 22 mmHg or 2.9 kPa). </p>
                </div><!-- Service Info /-->
            </div><!-- Service /-->
        </div><!-- Service Blog column /-->

        <div class="medium-4 small-12 columns service">
            <div class="serivce-block">
                <div class="service-thumb">
                    <a href="#">
                        <img src="~/HospitalDemoEye/images/Services/lasiceye.jpg" style="height:250px;" alt="Post operative lasik care" />
                    </a>
                </div><!-- Service Thumb /-->
                <div class="service-info">
                    <h4><a href="#">LaSic Eye Surgery</a></h4>
                    <p style="text-align:justify">
                        LASIK or Lasik (laser-assisted in situ keratomileusis) is a type of refractive surgery for correcting myopia, hyperopia, and astigmatism.
                        LASIK is performed by ophthalmologists using a laser.<br />
                    </p>
                </div><!-- Service Info /-->
            </div><!-- Service /-->
        </div><!-- Service Blog column /-->

        <div class="medium-4 small-12 columns service">
            <div class="serivce-block">
                <div class="service-thumb">
                    <a href="#">
                        <img src="~/HospitalDemoEye/images/Services/cornia.jpg" style="height:250px;" alt="Post operative lasik care" />
                    </a>
                </div><!-- Service Thumb /-->
                <div class="service-info">
                    <h4><a href="#">Cornea</a></h4>
                    <p style="text-align:justify">The cornea is the transparent front part of the eye that covers the iris, pupil, and anterior chamber. Together with the lens, the cornea refracts light, accounting for approximately two-thirds of the eye's total optical power. In humans, the refractive power of the cornea is approximately 43 dioptres.</p>
                </div><!-- Service Info /-->
            </div><!-- Service /-->
        </div><!-- Service Blog column /-->

        <div class="medium-4 small-12 columns service">
            <div class="serivce-block">
                <div class="service-thumb">
                    <a href="#">
                        <img src="~/HospitalDemoEye/images/Services/orbit.jpg" style="height:250px;" alt="Post operative lasik care" />
                    </a>
                </div><!-- Service Thumb /-->
                <div class="service-info">
                    <h4><a href="#">Orbit & Oculoplasty</a></h4>
                    <p style="text-align:justify">Orbit, Oculoplasty and Oncology, a distinct subspecialty handles anomalies of lids, lacrimal system, extra ocular structures, bony orbit and other ocular adnexa. The department focuses on evaluation, diagnosis and management of orbital and adnexal disorders. </p>
                </div><!-- Service Info /-->
            </div><!-- Service /-->
        </div><!-- Service Blog column /-->

        <div class="medium-4 small-12 columns service">
            <div class="serivce-block">
                <div class="service-thumb">
                    <a href="#">
                        <img src="~/HospitalDemoEye/images/Services/squint.jpg" style="height:250px;" alt="Post operative lasik care" />
                    </a>
                </div><!-- Service Thumb /-->
                <div class="service-info">
                    <h4><a href="#">SQUINT</a></h4>
                    <p style="text-align:justify">Squint is a misalignment of the two eyes so that both the eyes are not looking in the same direction. 
                    This misalignment may be constant, being present throughout the day, or it may appear sometimes and the rest of the time the eyes may be straight. 
                   </p>
                </div><!-- Service Info /-->
            </div><!-- Service /-->
        </div><!-- Service Blog column /-->

        <div class="medium-4 small-12 columns service">
            <div class="serivce-block">
                <div class="service-thumb">
                    <a href="#">
                        <img src="~/HospitalDemoEye/images/Services/pediatriceyecare.jpg" style="height:250px;" alt="Post operative lasik care" />
                    </a>
                </div><!-- Service Thumb /-->
                <div class="service-info">
                    <h4><a href="#">PEDIATRIC EYE CARE</a></h4>
                    <p style="text-align:justify">Eye care for children is much different from that of an adult and even drastically different than that of a senior adult. A child's ability to see develops rapidly in the first months and years of life. You can notice very early that babies will use their eyes to locate people and objects.</p>
                </div><!-- Service Info /-->
            </div><!-- Service /-->
        </div><!-- Service Blog column /-->

        <div class="medium-4 small-12 columns service">
            <div class="serivce-block">
                <div class="service-thumb">
                    <a href="#">
                        <img src="~/HospitalDemoEye/images/Services/headache.jpg" style="height:250px;" alt="Post operative lasik care" />
                    </a>
                </div><!-- Service Thumb /-->
                <div class="service-info">
                    <h4><a href="#">HEADACHE</a></h4>
                    <p style="text-align:justify">Normally both eye go inside for near work . This is known as convergence. Due to muscle weakness or refractive errors sometimes they fail to come together for near work causing strain and headache on near work. Correction of refractive errors and convergence exercises may give relief.</p>
                </div><!-- Service Info /-->
            </div><!-- Service /-->
        </div><!-- Service Blog column /-->

        <div class="medium-4 small-12 columns service">
            <div class="serivce-block">
                <div class="service-thumb">
                    <a href="#">
                        <img src="~/HospitalDemoEye/images/Services/diabetic.jpeg" style="height:250px;" alt="Post operative lasik care" />
                    </a>
                </div><!-- Service Thumb /-->
                <div class="service-info">
                    <h4><a href="#">DIABETIC RETINOPATHY</a></h4>
                    <p style="text-align:justify">
                        Diabetic retinopathy is referred to the damage caused to the retina precipitated by complications of diabetes mellitus.
                        The condition can progress to blindness if left untreated.
                    </p>
                </div><!-- Service Info /-->
            </div><!-- Service /-->
        </div><!-- Service Blog column /-->

        <div class="medium-4 small-12 columns service">
            <div class="serivce-block">
                <div class="service-thumb">
                    <a href="#">
                        <img src="~/HospitalDemoEye/images/Services/cataract.jpg" style="height:250px;" alt="Post operative lasik care" />
                    </a>
                </div><!-- Service Thumb /-->
                <div class="service-info">
                    <h4><a href="#">CATARACT SURGERY</a></h4>
                    <p style="text-align:justify">A cataract is a condition of the eye when there is clouding of the lens which leads to a [u1] decrease in vision. Cataract severy [u2] so often develops slowly and can affect one or both eyes. Symptoms may indicate faded colors, blurry or double vision, halos around light, trouble with bright lights, and trouble seeing at night.</p>
                </div><!-- Service Info /-->
            </div><!-- Service /-->
        </div><!-- Service Blog column /-->

    </div><!-- row ends -->
</div>
<!-- Content Area Ends -->
<!-- Content Area Starts -->
<div class="our-services content-area module appointment inner-padding dark-with-bg">
    <div class="row">

        <div class="medium-12 small-12 columns">
            <div class="section-title-wrapper light-title row">
                <div class="section-title">
                    <h2>Get Appointment</h2>
                    <p>Fill in the form below</p>
                </div>
            </div><!-- Section Title /-->


            <div class="appointment-form">
                <form>
                    <div class="row">
                        <div class="medium-6 small-12 columns">
                            <label>
                                <input type="text" placeholder="Your full name ....">
                            </label>
                        </div>
                        <div class="medium-6 small-12 columns">
                            <label>
                                <input type="text" placeholder="Your Phone number ....">
                            </label>
                        </div>
                        <div class="medium-6 small-12 columns">
                            <label>
                                <input type="text" placeholder="Your Email address ....">
                            </label>
                        </div>
                        <div class="medium-6 small-12 columns">
                            <label>
                                <input type="text" placeholder="Preffered Date ....">
                            </label>
                        </div>
                        <div class="medium-6 small-12 columns">
                            <label>
                                <select>
                                    <option>Select Doctor</option>
                                    <option>Vet 1</option>
                                    <option>Vet 2</option>
                                </select>
                            </label>
                        </div>
                        <div class="medium-6 small-12 columns">
                            <label>
                                <select>
                                    <option>Select Service</option>
                                    <option>Service 1</option>
                                    <option>Service 2</option>
                                </select>
                            </label>
                        </div>
                        <div class="medium-12 columns">
                            <label>
                                <textarea placeholder="Your message" rows="3"></textarea>
                            </label>
                        </div>
                        <div class="medium-12 columns">
                            <button class="secondary button" type="submit">Send Form!</button>
                        </div>
                    </div>
                </form>
            </div><!-- Contact Form Ends /-->
        </div> <!-- Right sidebar Ends /-->

    </div><!-- Row /-->
</div>
<!-- Content Area Ends /-->
<!-- Content Area -->
<div class="content-area module">
    <div class="row">

        <div class="medium-3 small-12 columns">
            <div class="icon-box">
                <div class="icon-side float-left">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </div>
                <div class="info-side float-left">
                    <p>
                        <strong>Is Lasik Secure?</strong><br>
                        From Last 30 years we are in industy and have honor. <br>
                        123-123-1234
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div><!-- icon-box ends -->

        <div class="medium-3 small-12 columns">
            <div class="icon-box">
                <div class="icon-side float-left">
                    <i class="fa fa-stethoscope" aria-hidden="true"></i>
                </div>
                <div class="info-side float-left">
                    <p>
                        <strong>Advanced Technology</strong><br>
                        We are providing special visual teaching techniques to help you grow faster.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div><!-- icon-box ends -->

        <div class="medium-3 small-12 columns">
            <div class="icon-box">
                <div class="icon-side float-left">
                    <i class="fa fa-user-md" aria-hidden="true"></i>
                </div>
                <div class="info-side float-left">
                    <p>
                        <strong>Cooperative Staff</strong><br>
                        Our Qualified best teachers from industry give you best professional Knowledge.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div><!-- icon-box ends -->

        <div class="medium-3 small-12 columns">
            <div class="icon-box">
                <div class="icon-side float-left">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="info-side float-left">
                    <p>
                        <strong>Get Appointment</strong><br>
                        Rush before all seats are reserved for current batch. <br>
                        123-123-1234
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div><!-- icon-box ends -->

    </div>
</div>
<!-- Content Area Ends -->
<!-- Call to Action box -->
<div class="call-to-action">
    <img src="~/HospitalDemoEye/images/Doctors/drAshish.jpg" alt="Vision eyeglass" />
    <div class="row">

        <div class="medium-offset-1 medium-7 small-12 columns">
            <h2><i class="fa fa-phone" aria-hidden="true"></i> 	If you Have Any Questions Call Us On <span>0771-4037979</span></h2>
        </div>
        <div class="medium-2 small-12 columns">
            <a data-open="appointment_modal" class="button primary bordered-light" href="@Url.Action("Appointment","HomeEye")">Appointment</a>
        </div>

    </div><!-- row /-->
</div>
<!-- Call to Action box ends /-->
